Flow3
[
    {
        "id": "bb2b5f17.194ee",
        "type": "inject",
        "z": "8d6ea6e6.e3f918",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "4adf674.de0a298",
                "5474ce8b.8b4af"
            ]
        ]
    },
    {
        "id": "4adf674.de0a298",
        "type": "function",
        "z": "8d6ea6e6.e3f918",
        "name": "Payload",
        "func": "msg.headers={\n    deviceKey:\"E33uh6wmr0f3fr9d\"\n};\nmsg.payload=\"Temperature,,15\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "677233bb.a9e12c"
            ]
        ]
    },
    {
        "id": "677233bb.a9e12c",
        "type": "http request",
        "z": "8d6ea6e6.e3f918",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.mediatek.com/mcs/v2/devices/DrOwCQrr/datapoints.csv",
        "tls": "",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "ff6ebcbc.4d5d5",
                "56c782c6.78452c"
            ]
        ]
    },
    {
        "id": "ff6ebcbc.4d5d5",
        "type": "http response",
        "z": "8d6ea6e6.e3f918",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "56c782c6.78452c",
        "type": "debug",
        "z": "8d6ea6e6.e3f918",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "c5d875e1.01be58",
        "type": "http request",
        "z": "8d6ea6e6.e3f918",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.mediatek.com/mcs/v2/devices/DrOwCQrr/datapoints.csv",
        "tls": "",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "ff6ebcbc.4d5d5",
                "56c782c6.78452c"
            ]
        ]
    },
    {
        "id": "5474ce8b.8b4af",
        "type": "function",
        "z": "8d6ea6e6.e3f918",
        "name": "Payload",
        "func": "msg.headers={\n    deviceKey:\"E33uh6wmr0f3fr9d\"\n};\nmsg.payload=\"Humidity,,18\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "c5d875e1.01be58"
            ]
        ]
    }
]
